body {
    background: #242424;
    color: #f5f5f5;
}

#main-doc {
    margin-left: 328px;
    padding: 42px 42px 0 42px;
    border: 8px groove #48BF92;
    background: #2c2c2c;
}

#navbar {
    position: fixed;
    width: 320px;
    min-width: 300px;
    height: 100%;
}

#navbar header {
    text-align: center;
    margin-top: 24px;
    font-size: 1.8em;
    font-weight: bold;
}

#navbar ul {
    padding: 0 8px 0;
    height: 88%;
    overflow-y: auto;
    overflow-x: hidden;
}

#navbar ul li {
    list-style: none;
    font-size: 1em;
    margin: 16px 0;
    padding: 8px;
    background: #2c2c2c;
    border: 8px groove #48BF92;
}

a {
    color: #f5f5f5;
    text-decoration: none;
}

a:hover {
    color: #48BF92;
}

#mozilla {
    color: #48BF92;
}

#mozilla:hover {
    color: #f5f5f5;
}


h1 {
    margin-top: 0;
}

p {
    line-height: 1.6;
    font-size: 16px;
}

.main-section {
    margin-bottom: 44px;
}

div {
    margin-bottom: 6px;
}

code {
    display: inline-block;
    background: #242424;
    border: 4px solid #48BF92;
    padding: 18px 14px;
}

.space1 {
    padding-left: 10px;
}

.space2 {
    padding-left: 20px;
}

.space3 {
    padding-left: 30px;
}

footer {
    text-align: center;
    margin-left: 328px;
}

h2, h3 {
    color: #059b61;
}


li {
    line-height: 1.4;
    margin: 8px 0;
}


@media only screen and (max-width: 815px) {
    /* For mobile phones: */
    #navbar ul {
      height: 200px;
    }
  
    #navbar {
      position: absolute;
      top: 0;
      padding: 0;
      margin: 0;
      width: 100%;
      max-height: 275px;
      z-index: 1;
    }
  
    #main-doc {
      position: relative;
      margin-left: 0px;
      margin-top: 280px;
    }

    footer {
        margin: 0;
    }
  }
